<div class="table">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Send me reset password", class: "btn btn-secondary"%>
  </div>
<% end %>
<br>
<%= link_to "[Sign Up]", "/users/sign_up", class: "text-info" %>
<%= link_to "[Login]", "/users/sign_in", class: "text-info" %>
</div>
