<% if user_signed_in? %>
  <div>
    <h2>MY ACTIVITY RECORD</h2>
    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Exercise</th>
          <th>Calories</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @records.each do |record| %>
          <% if record.user_id == current_user.id %>
          <tr>
            <td><%= record.activity_date %></td>
            <td><%= record.activity.name %></td>
            <td><%= record.total_calories %></td>
            <td><%= link_to "Edit", edit_record_path(record) %></td>
            <td><%= link_to "Delete", record_path(record), method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

<% else %>
  <h2 style="font-weight: bold">GREETINGS, SIGN IN PLEASE</h2>
<% end %>

</div>

<div class="row justify-content-center">
 <%= link_to '[ Add New Activity Record ]', new_record_path, class: "text-info" %>
</div>
