<h2>ACTIVITY LIST</h2>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Description</th>
      <% if current_user.admin? %>
      <th>Edit</th>
      <th>Delete</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.calories %></td>
        <td><%= activity.description %></td>
        <% if current_user.admin? %>
        <td><%= link_to "Edit", edit_activity_path(activity) %></td>
        <td><%= link_to "Delete", activity_path(activity), method: :delete, data: {confirm: "Are you sure?"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row justify-content-center">
 <%= link_to '[ Add New Activity ]', new_activity_path, class: "text-info" %>
</div>
